.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0px;
}

.title {
  margin-left: 2rem;
  font-size: 2rem;
  font-weight: 600;
}

.btn {
  margin-left: 0.5rem;
  transition: all 0.125s;

  &.active,
  &:hover {
    color: #3f51b5;
    background: #3f51b512;
  }

  &.alertBtn {
    &:hover {
      color: #f50057;
      background: #f500571a;
    }
  }
}
