.label {
  display: flex;
  align-items: center;
}

.name {
  margin-right: 0.5rem;
  padding-top: 0.25rem;
  color: gray;

  &:after {
    content: ':';
  }
}

.value {
  min-width: 3rem;
  padding: 0.5rem 1rem 0.25rem;
  border: 1px solid #3f51b5b5;
  border-radius: 5px;
  text-align: center;
  line-height: 1;
}
