.wrapper {
  display: flex;
  margin-top: 4rem;
}

.col {
  width: 50%;
  flex-shrink: 0;
  border-right: 2px solid #00000017;
  padding: 1rem 2rem;

  &:first-child {
    padding-left: unset;
  }

  &:last-child {
    border-right: none;
    padding-right: unset;
  }
}
